$theme-color: #33B5D3;

$text-color: #121212;
$sub-text-color: #555555;
$description-color: #909090;

$section-title-color: #33B5D3;
$section-lead-color: #585858;
$btn-color: #33B5D3;
$link-color: #33B5D3;
$btn-highlight-color: rgba(51, 181, 211, .4);

$gray-background-color: #F7F7F7;
$footer-background-color: #444444;
