$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "app/styles/color-schema.scss";
// endbower

@import url("//fonts.googleapis.com/earlyaccess/notosansjapanese.css");

* {
  outline: 0;
}

body {
  font-family: 'YuGothic', 'Yu Gothic', '游ゴシック', '游ゴシック体', 'Noto Sans Japanese', sans-serif;
}

a {
  color: $text-color;
}

@mixin btn {
  font-size: 21px;
  color: $btn-color;
  border: 2px solid $btn-color;
  background-color: transparent;
  padding: 16px 32px 14px;
  border-radius: 3px;
  &:hover {
    color: $btn-color;
    border: 2px solid $btn-color;
    background-color: $btn-highlight-color;
  }
  &:active {
    color: $btn-color;
    border: 2px solid $btn-color;
    background-color: $btn-highlight-color;
  }
}

/* Space out content a bit */
body {
  // padding-top: 20px;
  // padding-bottom: 20px;
}

.container-fluid {
  padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  padding: 12px 18px 12px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    // padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  min-height: 300px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background: $footer-background-color;
}

/* Main marketing message and sign up button */
.container-fluid .jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/images/top-bg.jpg");
  border-radius: 0;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  h3 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: $section-title-color;
  }
  p.lead {
    font-size: 14px;
    text-align: center;
    color: $section-lead-color;
    margin-top: 8px;
  }
  .marketing-btn {
    @include btn;
    display: block;
    margin: 0 auto;
  }
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    // margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
