$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "app/styles/color-schema.scss";
// endbower

@import url("//fonts.googleapis.com/earlyaccess/notosansjapanese.css");

* {
  outline: 0;
}

body {
  font-family: 'YuGothic', 'Yu Gothic', '游ゴシック', '游ゴシック体', 'Noto Sans Japanese', sans-serif;
}

a {
  color: $text-color;
}

@mixin btn {
  font-size: 21px;
  color: $btn-color;
  border: 2px solid $btn-color;
  background-color: transparent;
  padding: 16px 32px 14px;
  border-radius: 3px;
  &:hover {
    color: $btn-color;
    border: 2px solid $btn-color;
    background-color: $btn-highlight-color;
  }
  &:active {
    color: $btn-color;
    border: 2px solid $btn-color;
    background-color: $btn-highlight-color;
  }
}

/* Space out content a bit */
body {
  // padding-top: 20px;
  // padding-bottom: 20px;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

.logo {
  height: 24px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  height: 72px;
  padding: 16px 32px 14px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    // padding-bottom: 19px;
  }
  .nav-pills {
    li {
      a {
        padding: 10px 20px;
      }
      &.active {
        a {
          background-color: transparent;
          color: $link-color;
        }
      }
      &:hover {
        a {
          background-color: transparent;
          color: $link-color;
        }
      }
    }
  }
}

/* Custom page footer */
.footer {
  min-height: 200px;
  padding-top: 42px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background: $footer-background-color;
  color: #fff;
}

/* Main marketing message and sign up button */
.container-fluid .jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/top-bg.jpg");
  border-radius: 0;
  overflow: hidden;
  position: relative;
  h1 {
    color: #ffffff;
    font-size: 46px;
    .glyphicon-menu-right {
      color: $theme-color;
      font-size: 40px;
      margin-right: 8px;
    }
  }
  .lead {
    color: #fff;
    font-size: 16px;
    width: 680px;
    padding: 14px 0 0 4px;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
  }
  .jumbotron-inner {
    max-width: 1280px;
    text-align: left;
    margin: 0 auto;
    padding: 120px 0 0 120px;
  }
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  .thumbnail {
    flex: 1 1 auto;
    display: block;
    border: 0;
    padding: 0;
    width: 33%;
    margin: 0;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 12px 0;
  padding: 14px 0 24px;
  .col-lg-12 {
    padding: 0
  }
  h3 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: $section-title-color;
    &:before {
      content: '\e258';
      font-family: 'Glyphicons Halflings';
      font-size: 21px;
      margin-right: 4px;
    }
  }
  p.lead {
    font-size: 14px;
    text-align: center;
    color: $section-lead-color;
    margin: 28px 0 54px;
  }
  .marketing-btn {
    @include btn;
    display: block;
    margin: 0 auto;
  }
  p + h4 {
    margin-top: 28px;
  }
  &.gray {
    background-color: $gray-background-color;
  }
}

.flow-section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  background-image: linear-gradient(to bottom, #fff, #f3f3f3);
  .flow-image {
    flex: 3;
    background-size: cover;
    background-position: center center;
    min-height: 340px;
    margin: 24px 30px;
  }
  .flow-body {
    flex: 2;
    padding: 42px 32px;
    height: 300px;
    h4 {
      font-size: 20px;
      font-weight: bold;
      color: $text-color;
    }
    p {
      margin-top: 40px;
      font-size: 14px;
      color: $sub-text-color;
    }
  }
  &.odd {
    .flow-image {
      order: 2;
    }
  }
}

.member-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .member {
    flex: 0 0 320px;
    margin: 0 40px;
    p {
      margin-bottom: 6px;
      color: $description-color;
    }
    .name {
      color: $text-color;
      margin: 18px auto 8px;
      font-size: 14px;
      font-weight: bold;
      // width: 180px;
      text-align: left;
    }
    .description {
    }
    .member-avatar {
      position: relative;
      overflow: hidden;
      height: 180px;
      width: 180px;
      margin: 0 auto;
      img {
        // transform: scale(1.1);
        // transition: transform .2s ease-in-out;
      }
      .description-bg {
        opacity: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, .4);
        height: 100%;
        font-size: 12px;
        top: 0;
        transition: opacity .4s ease-in-out;
        p {
          color: #fff;
          margin: 16px 22px;
        }
      }
    }
    &:hover {
      .member-avatar {
        img {
          transform: scale(1);
        }
        .description-bg {
          opacity: 1;
        }
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    // padding-left: 0;
    // padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    // margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
